In [146]:
'''
IMPORTS
'''

#Imports the pandas library to read and process data tables
import pandas as pd

#Imports numpy library to perform mathematical operations on Arrays
import numpy as np

#Imports the StandardScalar from sklearn model to normalize (scale) the features
from sklearn.preprocessing import StandardScaler

#Imports the train_test_split class from sklearn model to split the dataset
from sklearn.model_selection import train_test_split

#Imports the Decision Tree Classifier from sklearn tree
from sklearn.tree import DecisionTreeClassifier

#Imports the accuracy_score class from sklearn metrics to test accuracy between acutal and predicted data
from sklearn.metrics import accuracy_score

In [178]:
#Creates a pandas Dataframe by reading the list of songs dataset from a local CSV File
df = pd.read_csv('Most Streamed Spotify Songs 2024.csv', encoding = 'utf-8', encoding_errors= 'ignore')

In [180]:
df[0:5]

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1

In [204]:
#Some columns have comma ',' so we must remove the commas before using the data for training and testing

change_col = ['Spotify Streams', 'Spotify Playlist Count', 'Spotify Playlist Reach', 
              'YouTube Views', 'YouTube Likes', 'TikTok Posts', 'TikTok Likes', 
              'TikTok Views', 'YouTube Playlist Reach', 'AirPlay Spins', 'SiriusXM Spins',
              'Deezer Playlist Reach', 'Pandora Streams', 'Pandora Track Stations', 
              'Soundcloud Streams', 'Shazam Counts']

for remove_comma in change_col:
    df[remove_comma] = df[remove_comma].str.replace(',', '')
    
df.head(2)

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,390470936,30716,196631588,...,684,62.0,17598718,114.0,18004655,22931,4818457,2669262,NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,323703884,28113,174597137,...,3,67.0,10422430,111.0,7780028,28444,6623075,1118279,NaN,1

In [206]:
#Let's set up a feature matrix and a label vector for the dataset

feature_columns = ['Track Score', 'Spotify Streams', 'Spotify Playlist Count', 'Spotify Playlist Reach', 'Spotify Popularity', 'YouTube Views',	
                   'YouTube Likes',	'TikTok Posts',	'TikTok Likes',	'TikTok Views',	'YouTube Playlist Reach', 'Apple Music Playlist Count',	
                   'AirPlay Spins',	'SiriusXM Spins', 'Deezer Playlist Count', 'Deezer Playlist Reach',	'Amazon Playlist Count', 
                   'Pandora Streams', 'Pandora Track Stations',	'Soundcloud Streams', 'Shazam Counts', 'Explicit Track']

#X will be the feature matrix (dataframe) that stores all of our features' values
X = df[feature_columns]

#Y will be the label vector (dataframe) that will store all of the label values
y = df['All Time Rank']

In [208]:
#Creates an StandardScalar object to normalize (scale) the X train and test values
scaler = StandardScaler()

X = scaler.fit_transform(X)

In [210]:
#Splits up the dataset into testing and training sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.24, random_state=9)

In [216]:
print(X_train)

[[-0.43186888 -0.36552623 -0.47079803 ...         nan -0.24201808
  -0.74823178]
 [-0.50192673 -0.82015566 -0.82392999 ...         nan -0.40266156
  -0.74823178]
 [-0.44743729 -0.03246209 -0.37904221 ...         nan -0.3481902
   1.33648426]
 ...
 [ 0.70203047 -0.78103276 -0.82488607 ...         nan -0.41345663
  -0.74823178]
 [-0.56938985 -0.02147902 -0.34774457 ...         nan -0.29735578
  -0.74823178]
 [ 0.94334085  1.67545976  2.25819941 ...  0.14733092  2.27796952
  -0.74823178]]

In [ ]:
'''
KEYVAN'S SECTION
'''

#Instantiates Decision Tree Classifer object
decision_tree = DecisionTreeClassifier(criterion='entropy', max_depth=None, random_state=5)

#Trains the DT object
decision_tree.fit(X_train, y_train)

#Tests DT object on testing data 
y_predict = decision_tree.predict(X_test)

#Checks the accuracy of the actual values compared to the predicted values for DT classifier
dt_accuracy = accuracy_score(y_test, y_predict)

In [ ]:
print(dt_accuracy)